# Google Apps Script Integration
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbx5uHcJeVvqnnZZd8DqCQAFoWT1tpOqSl3KSy1oCj2qVPt_rvHrSyXlHaWuAChhKh9d/exec
# VITE_GOOGLE_SCRIPT_API_KEY=AIzaSyBt6dzYCHLePU8YVyT2RAKhCYSIa5z7g88
